#concert {

	list-style-type: none;
}

.fullCalendar {
    color: lightgrey;
    text-decoration-color: purple;
}

.profil {
	font-size: 20px;
}

.titre {
	font-size: 30px;
	margin-bottom: 10px;
}

.description {

	font-size: 20px;
}

.prix {
	margin-bottom:20px;
}
.navbar {
	background-color: purple;
}

